# Configuration file for Labels

# The array of supported languages. It's advisable to stick to two-letter language codes.
languages: [ nl, la, en, sl, de, fr, it, pt ]
default: nl

# Automatically add missing labels to the translation file?
add_missing: true

# Fallback to the 'default language', if the label is not defined in the selected language?
use_fallback: true
